//value
@activeColor:#ea4e4e;
@defaultFontColor:#333333;
@grayFontColor:#666666;
@defaultBorderColor:#e7e7e7;



/*
*rest
*/

//base
.rest{
    padding: 0;
    margin: 0;
}
.font16{
    font-size: 0.3865rem;
}
.font14{
    font-size: 0.3382rem
}
.font12{
    font-size: 0.2899rem;
}
.font10{
    font-size: 0.2415rem;
}
.block{
    // margin: 0.2415rem 0 ;
    background: white;
}

.padding10{
    padding: 0.2415rem;
}
.padding10-r{
    padding: 0.2415rem 0;
}

.padding10-c{
    padding: 0 0.2415rem;
}

.margin10{
    margin: 0.2415rem;
}

.margin10-r{
    margin: 0.2415rem 0;
}
.margin10-c{
    margin: 0 0.2415rem;
}


.padding15{
    padding: 0.3623rem;
}
.padding15-r{
    padding: 0.3623rem 0;
}

.padding15-c{
    padding: 0 0.3623rem;
}

.margin15{
    margin: 0.3623rem;
}

.margin15-r{
    margin: 0.3623rem 0;
}
.margin15-c{
    margin: 0 0.3623rem;
}

.border{
    border:1px solid @defaultBorderColor;
}

//ad
.mint-swipe{
   
    // height: 4.8309rem;
     
}





